* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  /* background: black; */
}

img {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

img {
  -ms-transition: all 1s;
  -webkit-transition:  all 1s;
  transition: all 1s;
}

a:hover img {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  transform: scale(1.1);
}

a {
  display: block;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus {
  border: none;
  outline: none;
}

.search-input {
  transition: all 0.7s;
}

.search-input:focus {
  color: gray;
}

.search-btn {
  background: #1e42ff;
  color: #fff;
  transition: all 0.7s;
}

.img-list > li {
  height: 90px;
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 0.1rem;
  margin-bottom: 0.4rem;
}

.img-list > li > a {
  margin-bottom: 2rem;
  padding: 0.6rem;
}


.link-list > li > a {
  margin-bottom: 0.6rem;
  padding: 0;
  color: #bbb;
}

h1 {
  margin-bottom: 2rem;
}

h2,
h3,
h4,
h5 {
  margin-bottom: 1.2rem;
}

.bg-dark-gray {
  background-color: #333333;
}

header {
  background: #222;
}

.ui-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 1rem;
}

input,
button {
  vertical-align: middle;
  padding: 6px;
  border: 0px solid #ddd;
}

.pagi-li {
  display: inline-block;
}

.pagi-btn {
  /* border: 1px solid red; */

  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.pagi-active {
  border: 1px solid red;
}

/* GRID START */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left-gap10 {
  margin-left: 10%;
}
.left-gap20 {
  margin-left: 20%;
}
.left-gap30 {
  margin-left: 30%;
}
.left-gap40 {
  margin-left: 40%;
}
.left-gap50 {
  margin-left: 50%;
}

.col10 {
  width: 10%;
  float: left;
}
.col20 {
  width: 20%;
  float: left;
}
.col30 {
  width: 30%;
  float: left;
}
.col40 {
  width: 40%;
  float: left;
}
.col50 {
  width: 50%;
  float: left;
}
.col60 {
  width: 60%;
  float: left;
}
.col70 {
  width: 70%;
  float: left;
}
.col80 {
  width: 80%;
  float: left;
}
.col90 {
  width: 90%;
  float: left;
}
.col100 {
  width: 100%;
  float: left;
}

/* GRID START */

.margT1 {
  margin-top: 1rem;
}

.margT2 {
  margin-top: 2rem;
}

.margT3 {
  margin-top: 3rem;
}

.margB1 {
  margin-bottom: 1rem;
}
.margB2 {
  margin-bottom: 2rem;
}

.margB3 {
  margin-bottom: 3rem;
}
.margB4 {
  margin-bottom: 4rem;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

.padd1 {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  [class*="col"] {
    width: 50% !important;
    
  }
  
}


@media screen and (max-width: 320px) {
  [class*="col"] {
    width: 100% !important;
    float: none !important;
  }

  .img-list > li {
    height: auto !important;
  }

  .pagi-li > button {
    padding: 0.5rem;
    cursor: pointer;
  }

  [class*="left-gap"] {
    margin-left: 0!important
  }

}

